<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>expand target</title>

    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}"></script>
    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@{[{ .nunjucks_version }]}/browser/nunjucks.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <div class="container" hx-ext="path-deps,client-side-templates">
      <a href="https://htmx.org/examples/update-other-content/#expand" class="link-primary">htmx update other content example</a>
      <p>

      <div id="table-and-form"
           hx-get="/contacts"
           hx-trigger="load"
           nunjucks-array-template="contacts-template">
      </div>

      <script id="contacts-template" type="x-tmpl-nunjucks">
        <h2>Contacts</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody id="contacts-table">
            {% for contact in data %}
            <tr>
              <td>{{ contact.name }}</td>
              <td>{{ contact.email }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <h2>Add A Contact</h2>
        <form hx-post="/contacts"
              hx-target="#table-and-form"
              hx-ext="json-enc"
              nunjucks-array-template="contacts-template">
          <label>
            Name
            <input name="name" type="text">  
          </label>
          <label>
            Email
            <input name="email" type="email">  
          </label>
          <button class="btn btn-primary">Add</button>
        </form>
      </script>

    </div>
  </body>

</html>
