<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>update-other-content</title>

  </head>

  <body>
    <div class="container">
      <a href="https://v1.htmx.org/examples/update-other-content/" class="link-primary">htmx update other content examples</a>
      <p>

      <div><a href="expand-target" class="link-primary">Solution 1: Expand the Target</a></div>
      <div><a href="oob-response" class="link-primary">Solution 2: Out of Band Responses</a></div>
      <div><a href="trigger-events" class="link-primary">Solution 3: Triggering Events</a></div>
      <div><a href="path-deps" class="link-primary">Solution 4: Using the Path Dependencies Extension</a></div>

    </div>
  </body>

</html>
