<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>update-other-content</title>

  </head>

  <body>
    <div class="container">
      <a href="https://htmx.org/extensions/update-other-content/" class="link-primary">htmx update other content examples</a>
      <p>

      <a href="https://htmx.org/extensions/update-other-content/" class="link-primary">Solution 1: Expand the Target</a>
      <a href="https://htmx.org/extensions/update-other-content/" class="link-primary">Solution 2: Out of Band Responses</a>
      <a href="https://htmx.org/extensions/update-other-content/" class="link-primary">Solution 3: Triggering Events</a>
      <a href="https://htmx.org/extensions/update-other-content/" class="link-primary">Solution 4: Using the Path Dependencies Extension</a>

    </div>
  </body>

</html>
