<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>oob response</title>

    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}"></script>
    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@{[{ .nunjucks_version }]}/browser/nunjucks.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/css/bootstrap.min.css" rel="stylesheet">

    <meta name="htmx-config" content='{"useTemplateFragments": true}'>
  </head>

  <body>
    <div class="container" hx-ext="path-deps,client-side-templates">
      <a href="https://htmx.org/examples/update-other-content/#oob-response" class="link-primary">htmx update other content example</a>
      <p>

      <div id="table-and-form">
      </div>

      <h2>Contacts</h2>
      <table class="table"
             hx-get="/contacts"
             hx-trigger="load"
             hx-target="#contacts-tbody"
             nunjucks-array-template="contacts-load-template">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody id="contacts-tbody">
        </tbody>
      </table>
      <h2>Add A Contact</h2>
      <form id="submit-form"
            hx-post="/contacts"
            hx-ext="json-enc"
            nunjucks-array-template="contacts-submit-template">
        <label>
          Name
          <input name="name" type="text">  
        </label>
        <label>
          Email
          <input name="email" type="email">  
        </label>
        <button class="btn btn-primary">Add</button>
      </form>

      <script id="contacts-load-template" type="x-tmpl-nunjucks">
        {% for contact in data %}
        <tr>
          <td>{{ contact.name }}</td>
          <td>{{ contact.email }}</td>
        </tr>
        {% endfor %}
      </script>

      <script id="contacts-submit-template" type="x-tmpl-nunjucks">
        <tbody hx-swap-oob="innerHTML:#contacts-tbody">
          {% for contact in data %}
          <tr>
            <td>{{ contact.name }}</td>
            <td>{{ contact.email }}</td>
          </tr>
          {% endfor %}
        </tbody>
 
        <label>
          Name
          <input name="name" type="text">  
        </label>
        <label>
          Email
          <input name="email" type="email">  
        </label>
        <button class="btn btn-primary">Add</button>
     </script>

    </div>
  </body>

</html>
