<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>loading states</title>

    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}"></script>
    <script src="https://unpkg.com/htmx-ext-client-side-templates@{[{ .htmx_version }]}/client-side-templates.js"></script>
    <script src="https://unpkg.com/htmx-ext-loading-states@{[{ .htmx_version }]}/loading-states.js"></script>
    <script src="https://unpkg.com/nunjucks@{[{ .nunjucks_version }]}/browser/nunjucks.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/css/bootstrap.min.css" rel="stylesheet">

    <style id="INLINE_PEN_STYLESHEET_ID">
      [data-loading] {
        display: none;
      }
    </style>
  </head>

  <body>
    <div class="container" hx-ext="loading-states,client-side-templates">
      <a href="https://github.com/bigskysoftware/htmx-extensions/blob/main/src/loading-states/README.md" class="link-primary">htmx loading states extension example</a>
      <p>

      <form hx-post="/save"
            hx-target="#message"
            data-loading-target="#loading"
            data-loading-class-remove="d-none"
            nunjucks-template="show-template">
  
        <button class="btn btn-primary" type="submit" data-loading-disable>Submit</button>
      </form>
      <div id="message"></div>
      <div id="loading" class="d-none">Loading ...</div>

      <script id="show-template" type="x-tmpl-nunjucks">
        {{ message }}
      </script>

    </div>
  </body>

</html>
