<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>bulk-update</title>

    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}"></script>
    <script src="https://unpkg.com/htmx-ext-client-side-templates@{[{ .htmx_ext_version }]}/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@{[{ .nunjucks_version }]}/browser/nunjucks.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/css/bootstrap.min.css" rel="stylesheet">

    <style id="INLINE_PEN_STYLESHEET_ID">
      .hiddenRow {
        padding: 0 !important;
      }
    </style>

  </head>

 <body>
    <script type="text/javascript">
      htmx.defineExtension('submitContact', {
        onEvent: function (name, evt) {
          if (name === "htmx:configRequest") {
            evt.detail.headers['Content-Type'] = "application/json"
            // evt.detail.headers['X-API-Key'] = 'xxx'
          }
        },
        encodeParameters: function(xhr, parameters, elt) {
          xhr.overrideMimeType('text/json') // override default mime type
          body = []
          for (const [key, _] of Object.entries(parameters)) {
            body.push({id: parseInt(key)}) 
          }
          return (JSON.stringify(body))
        }
      })
    </script>
    <div class="container" hx-ext="client-side-templates">
      <a href="https://htmx.org/examples/bulk-update/" class="link-primary">htmx bulk update example</a>
      <p>
      <div hx-get="/users"
           hx-trigger="load"
           nunjucks-array-template="show-template">
      </div>

      <script id="show-template" type="x-tmpl-nunjucks">
        <form id="checked-contacts"
            hx-post="/users"
            hx-swap="outerHTML settle:3s"
            hx-ext="submitContact">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Active</th>
            </tr>
            </thead>
            <tbody id="tbody">
              {% for user in data %}
              <tr>
                <td>{{ user.firstName}} {{ user.lastName}}</td>
                <td>{{ user.email }}</td>
                <td><input type="checkbox" name="{{ user.id }}" value="1" {% if user.active -%}checked{%- endif %}></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <input type="submit" value="Bulk Update">
        </form>
      </script>
    </div>
  </body>

</html>
