<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>preload</title>

    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}"></script>
    <script src="https://unpkg.com/htmx-ext-client-side-templates@{[{ .htmx_version }]}/client-side-templates.js"></script>
    <script src="https://unpkg.com/htmx-ext-preload@{[{ .htmx_version }]}/preload.js"></script>
    <script src="https://unpkg.com/nunjucks@{[{ .nunjucks_version }]}/browser/nunjucks.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <div class="container" hx-ext="preload,client-side-templates">
      <a href="https://github.com/bigskysoftware/htmx-extensions/blob/main/src/preload/README.md" class="link-primary">htmx preload extension example</a>
      <p>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody hx-get="/server"
               hx-trigger="load"
               nunjucks-array-template="show-template">
        </tbody>
      </table>

      <div id="detail"></div>

      <script id="show-template" type="x-tmpl-nunjucks">
        {% for server in data %}
          <tr>
            <td><a href="/server/{{ server.id }}" preload>{{ server.id }}</a></td>
            <td>{{ server.name }}</td>
          </tr>
        {% endfor %}
      </script>
    </div>
  </body>

</html>
