<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>animations</title>

    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}"></script>
    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}/dist/ext/class-tools.js"></script>
    <script src="https://unpkg.com/nunjucks@{[{ .nunjucks_version }]}/browser/nunjucks.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/css/bootstrap.min.css" rel="stylesheet">

    <style id="INLINE_PEN_STYLESHEET_ID">
        .smooth {
          transition: all 1s ease-in;
        }

        .fade-me-out.htmx-swapping {
          opacity: 0;
          transition: opacity 1s ease-out;
        }

        #fade-me-in.htmx-added {
          opacity: 0;
        }
        #fade-me-in {
          opacity: 1;
          transition: opacity 1s ease-out;
        }

        .form-request.htmx-swapping {
          opacity: .2;
          transition: opacity 500ms linear;
        }

        .demo.faded {
          opacity:.3;
        }
        .demo {
          opacity:1;
          transition: opacity ease-in 900ms;
        }
    </style>

  </head>

  <body>
    <div class="container" hx-ext="client-side-templates">
      <a href="https://htmx.org/examples/animations/" class="link-primary">htmx animations example</a>
      <p>

      <h3 id="color-throb">
        <a class="zola-anchor" href="#color-throb" aria-label="Anchor link for: color-throb">#</a>
        Color Throb
      </h3>
      <div id="color-demo"
           class="smooth"
           hx-get="/color"
           hx-swap="outerHTML"
           hx-trigger="every 1s"
           nunjucks-template="color-template">
      Color Swap Demo
      </div>
      <script id="color-template" type="x-tmpl-nunjucks">
      <div id="color-demo"
           class="smooth"
           style="color:{{ color }}"
           hx-get="/color"
           hx-swap="outerHTML"
           hx-trigger="every 1s"
           nunjucks-template="color-template">
      Color Swap Demo
      </div>
      </script>

      <p>
      <h3 id="fade-out-on-swap">
        <a class="zola-anchor" href="#fade-out-on-swap" aria-label="Anchor link for: fade-out-on-swap">#</a>
        Fade Out On Swap
      </h3>

      <button class="btn btn-primary fade-me-out"
        hx-delete="/fade-out"
        hx-swap="outerHTML swap:1s"
        nunjucks-template="fade-out-template">
        Delete me
      </button>

      <script id="fade-out-template" type="x-tmpl-nunjucks">
      <!--nothing display after fade out-->
      </script>

      <p>
      <h3 id="fade-in-on-addition">
        <a class="zola-anchor" href="#fade-in-on-addition" aria-label="Anchor link for: fade-in-on-addition">#</a>
        Fade In On Addition
      </h3>

      <button hx-post="/fade-in"
              hx-swap="outerHTML"
              hx-trigger="load"
              nunjucks-template="fade-in-template">
      </button>

      <script id="fade-in-template" type="x-tmpl-nunjucks">
      <button class="btn btn-primary"
              id="fade-me-in"
              hx-post="/fade-in"
              hx-swap="outerHTML settle:1s"
              nunjucks-template="fade-in-template">
      Fade Me In {{count}}
      </button>
      </script>

      <p>
      <h3 id="request">
        <a class="zola-anchor" href="#request" aria-label="Anchor link for: request">#</a>
        Request In Flight Animation
      </h3>

      <form class="form-request" hx-post="/name" hx-swap="outerHTML swap:500ms" nunjucks-template="request-template">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input class="form-control" type="text" name="name"></input>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>

      <script id="request-template" type="x-tmpl-nunjucks">
      <div>{{ caption }}</div>
      </script>

      <p>
      <h3 id="using-the-htmx-class-tools-extension">
        <a class="zola-anchor" href="#using-the-htmx-class-tools-extension" aria-label="Anchor link for: using-the-htmx-class-tools-extension">#</a>
        Using the htmx <code>class-tools</code> Extension
      </h3>
      <div class="mb-3" hx-ext="class-tools">
        <div class="demo" classes="toggle faded:1s">Toggle Demo</div>
      </div>
    </div>
  </body>

</html>
