<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>path params</title>

    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}"></script>
    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}/dist/ext/path-params.js"></script>
    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@{[{ .nunjucks_version }]}/browser/nunjucks.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <div class="container" hx-ext="client-side-templates">
      <a href="https://v1.htmx.org/extensions/path-params/" class="link-primary">htmx path params extension example</a>
      <p>

      <form hx-ext="path-params"
            hx-get="/{animal}/"
            hx-target="#show"
            nunjucks-array-template="show-template">
        <div class="mb-3">
          <label>Animal</label>
          <select class="form-select"
                  name="animal">
            <option value="bird">Bird</option>
            <option value="mammal">Mammal</option>
          </select>
        </div>
        <div class="mb-3">
          <label>Size</label>
          <select class="form-select"
                  name="size">
            <option value="small">Small</option>
            <option value="middle">Middle</option>
            <option value="big">Big</option>
          </select>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>

      <p>
      <div id="show"></div>

      <script id="show-template" type="x-tmpl-nunjucks">
        <ul class="list-group">
        {% for animal in data %}
        <li class="list-group-item">{{ animal.name }}</li>
        {% endfor %}
        </ul>
      </script>

    </div>
  </body>

</html>
