<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>click-on-load</title>

    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}"></script>
    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/nunjucks@{[{ .nunjucks_version }]}/browser/nunjucks.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  </head>

  <body>
    <div class="container" hx-ext="client-side-templates">
      <a href="https://htmx.org/examples/click-to-load/" class="link-primary">htmx click to load example</a>
      <p>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>ID</th>
          </tr>
        </thead>
        <tbody>
          <tr id="replaceMe">
            <td colspan="3">
              <center>
                <button class="btn"
                        hx-get="/contacts/?page=1"
                        hx-target="#replaceMe"
                        hx-swap="outerHTML"
                        nunjucks-template="page-template">
                   Load More Agents... <img class="htmx-indicator" src="/img/bars.svg">
                 </button>
              </center>
            </td>
          </tr>
        </tbody>
      </table>

      <script id="page-template" type="x-tmpl-nunjucks">
          {% for contact in data %}
          <tr>
            <td>{{ contact.firstName }} {{ contact.lastName }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.id }}</td>
          </tr>
          {% endfor %}
          <tr id="replaceMe">
            <td colspan="3">
              <center>
                <button class="btn"
                        hx-get="/contacts/?page={{ page + 1 }}"
                        hx-target="#replaceMe"
                        hx-swap="outerHTML"
                        nunjucks-template="page-template">
                   Load More Agents... <img class="htmx-indicator" src="/img/bars.svg">
                 </button>
              </center>
            </td>
          </tr>
      </script>

    </div>
  </body>

</html>
