<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>restored</title>

    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}"></script>
    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}/dist/ext/restored.js"></script>
    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@{[{ .nunjucks_version }]}/browser/nunjucks.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <div class="container" hx-boost="true" hx-ext="client-side-templates">
      <a href="https://v1.htmx.org/extensions/restored/" class="link-primary">htmx restored extension example</a>
      <p>

      <div hx-ext="restored"
           hx-trigger="restored"
           hx-get="/example"
           nunjucks-template="example-template">
        <div class="text-primary">
        I am swapped after go back!
        </div>
      </div>
      <p></p>
      <a href="/other_page">I'll be back</a>

      <script id="example-template" type="x-tmpl-nunjucks">
        <div class="text-success">{{ message }}</div>
      </script>

    </div>
  </body>

</html>
