<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>cors</title>

    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}"></script>
    <script src="https://unpkg.com/htmx-ext-client-side-templates@{[{ .htmx_version }]}/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@{[{ .nunjucks_version }]}/browser/nunjucks.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/css/bootstrap.min.css" rel="stylesheet">

    <style id="INLINE_PEN_STYLESHEET_ID">
      .hiddenRow {
        padding: 0 !important;
      }
    </style>

    <meta name="htmx-config" content='{"selfRequestsOnly": false}'>
  </head>

  <body>
    <div class="container" hx-ext="client-side-templates">
      <a href="https://htmx.org/essays/web-security-basics-with-htmx/" class="link-primary">htmx cors description</a>
      <p>
      <a href="https://htmx.org/docs/#cors" class="link-primary">htmx cors headers</a>
      <p>
      <a href="https://htmx.org/migration-guide-htmx-1/" class="link-primary">htmx cors update from 1.x to 2.x</a>
      <p>

      <button class="btn btn-primary"
              hx-get="/local_example"
              hx-target="#show"
              nunjucks-template="show-template">
      local get
      </button>
      <p></p>

      <button class="btn btn-primary"
              hx-get="http://localhost:8090/other_example"
              hx-target="#show"
              nunjucks-template="show-template">
      cors get
      </button>
      <p></p>
      <div id="show"></div>

      <script id="show-template" type="x-tmpl-nunjucks">
        <div>{{ message }}<div>
      </script>

    </div>
  </body>

</html>
