<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>tabs-javascript</title>

    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}"></script>
    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@{[{ .nunjucks_version }]}/browser/nunjucks.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <div class="container" hx-ext="client-side-templates">
      <a href="https://htmx.org/examples/tabs-javascript/" class="link-primary">htmx tabs example</a>
      <p>

      <ul class="nav nav-underline"
          hx-trigger="load"
          hx-get="/tab"
          nunjucks-array-template="tab-template"
          hx-on:click="let currentTab = document.querySelector('[aria-selected=true]');
                       currentTab.setAttribute('aria-selected', 'false');
                       currentTab.classList.remove('active');
                       let newTab = event.target;
                       newTab.setAttribute('aria-selected', 'true');
                       newTab.classList.add('active');">
      </ul>

      <div class="tab-content" id="ext-content">
      </div>

      <script id="tab-template" type="x-tmpl-nunjucks">
        {% for index, tab in data.entries() %}
        <li class="nav-item">
          <a class="nav-link {% if index == 0 -%}active{%- endif %}"
             id="tab-{{ index }}"
             aria-current="page"
             aria-controls="ext-{{ tab }}"
             aria-selected="{% if index == 0 -%}true{%- else %}false{%- endif %}"
             href="#tab-{{ tab }}"
             hx-get="/tab/{{ tab }}"
             hx-trigger="click{% if index == 0 -%},load{%- endif %}"
             hx-target="#ext-content"
             nunjucks-template="content-template">
          {{ tab }}
          </a>
        </li>
        {% endfor %}
      </script>

      <script id="content-template" type="x-tmpl-nunjucks">
        <div
          class="tab-pane fade show active"
          id="ext-{{ name }}"
          role="tabpanel"
        >
        {{ content }}
        </div>
      </script>
    </div>
  </body>

</html>
