<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>websocket</title>

    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}"></script>
    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}/dist/ext/ws.js"></script>
    <script src="https://unpkg.com/nunjucks@{[{ .nunjucks_version }]}/browser/nunjucks.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <div class="container" hx-ext="client-side-templates">
      <a href="https://htmx.org/extensions/web-sockets/" class="link-primary">htmx websocket extension</a>
      <p></p>

      If "Disconnect" selected, websocet extension will auto-reconnect. You will see message # reset.
      <p></p>
      <div hx-ext="ws"
           ws-connect="/chat"
           nunjucks-template="chat-template">
        <div id="notifications"></div>
        <div id="chat_room">
        </div>
        <form id="form" ws-send>
          <div class="mb-3">
            <input type="text" name="message"></input>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="stop" name="control" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
              Disconnect
              </label>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>

      <script id="chat-template" type="x-tmpl-nunjucks">
        <div id="notifications" hx-swap-oob="innerHTML">
          {% if error %}
          <div class="alert alert-danger" role="alert">Message {{ error }}</div>
          {% else %}
          <div class="alert alert-success" role="alert">Message {{ sequence }}</div>
          {% endif %}
        </div>

        <div id="chat_room" hx-swap-oob="beforeend">
          <div class="alert alert-secondary" role="alert">You sent: {{ message }}</div>
        </div>
      </script>

    </div>
  </body>

</html>
