<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>multi-swap</title>

    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}"></script>
    <script src="https://unpkg.com/htmx-ext-client-side-templates@{[{ .htmx_version }]}/client-side-templates.js"></script>
    <script src="https://unpkg.com/htmx-ext-multi-swap@{[{ .htmx_version }]}/multi-swap.js"></script>
    <script src="https://unpkg.com/nunjucks@{[{ .nunjucks_version }]}/browser/nunjucks.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <div class="container" hx-boost="true" hx-ext="client-side-templates,multi-swap">
      <a href="https://github.com/bigskysoftware/htmx-extensions/blob/main/src/multi-swap/README.md" class="link-primary">htmx multi swap extension example</a>
      <p>

      <!-- simple example how to swap #id1 and #id2 from /example by innerHTML (default swap method) -->
      <button class="btn btn-primary"
              hx-get="/example"
              hx-swap="multi:#id1,#id2"
              nunjucks-template="swap-template">
      Click to swap #id1 and #id2 content
      </button>
      <p>

      <!-- advanced example how to swap multiple elements from /example by different swap methods -->
      <a href="/example"
         hx-swap="multi:#id1,#id2:outerHTML,#id3:beforeend,#id4:delete"
         nunjucks-template="swap-template">
      Click to swap #id1 and #id2, extend #id3 content and delete #id4 element
      </a>

      <div id="id1">Old 1 content</div>
      <div id="id2">Old 2 content</div>
      <div id="id3">Old 3 content</div>
      <div id="id4">Old 4 content</div>

      <script id="swap-template" type="x-tmpl-nunjucks">
          <div id="id1">{{ message }} 1</div>
          <div id="id2">{{ message }} 2</div>
          <div id="id3">{{ message }} 3</div>
          <div id="id4">{{ message }} 4</div>
      </script>

    </div>
  </body>

</html>
