<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>infinite-scroll</title>

    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}"></script>
    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@{[{ .nunjucks_version }]}/browser/nunjucks.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <div class="container" hx-ext="client-side-templates">
      <a href="https://v1.htmx.org/examples/infinite-scroll/" class="link-primary">htmx infinite scroll example</a>
      <p>

      <table class="table table-hover" hx-indicator=".htmx-indicator">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>ID</th>
          </tr>
        </thead>
        <tbody>
        <tr hx-get="/contacts/?page=1"
            hx-trigger="revealed"
            hx-swap="afterend"
            nunjucks-template="load-template">
        </tr>
        </tbody>
      </table>
      <center><img class="htmx-indicator" width="60" src="/img/bars.svg"></center>

      <script id="load-template" type="x-tmpl-nunjucks">
          {% for contact in data %}
          <tr>
            <td>{{ contact.firstName }} {{ contact.lastName }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.id }}</td>
          </tr>
          {% endfor %}
          <tr hx-get="/contacts/?page={{ page+1 }}"
              hx-trigger="revealed"
              hx-swap="afterend"
              nunjucks-template="load-template">
          </tr>
      </script>

    </div>
  </body>

</html>
