<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>lazy-load</title>

    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}"></script>
    <script src="https://unpkg.com/htmx-ext-client-side-templates@{[{ .htmx_version }]}/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@{[{ .nunjucks_version }]}/browser/nunjucks.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/css/bootstrap.min.css" rel="stylesheet">

    <style id="INLINE_PEN_STYLESHEET_ID">
      .htmx-settling img {
        opacity: 0;
      }
      img {
        transition: opacity 300ms ease-in;
      }
    </style>

  </head>

  <body>
    <div class="container" hx-ext="client-side-templates">
      <a href="https://htmx.org/examples/lazy-load/" class="link-primary">htmx lazy load example</a>
      <p>
      <div hx-get="/graph" hx-trigger="load" nunjucks-template="graph-template">
        <img alt="Result loading..."
             class="htmx-indicator"
             width="150"
             src="/img/bars.svg"/>
      </div>

      <script id="graph-template" type="x-tmpl-nunjucks">
        <img alt='{{ title }}' src='{{ path }}'> 
      </script>
    </div>
  </body>

</html>
