<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>keyboard-shortcuts</title>

    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}"></script>
    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@{[{ .nunjucks_version }]}/browser/nunjucks.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <div class="container" hx-ext="client-side-templates">
      <a href="https://v1.htmx.org/examples/keyboard-shortcuts/" class="link-primary">htmx keyboard shortcuts example</a>
      <p>

      <button class="btn btn-secondary"
              hx-trigger="click, keyup[altKey&&shiftKey&&key=='D'] from:body"
              hx-post="/doit"
              nunjucks-template="keyboard-shortcuts-template">
      Do It! (alt-shift-D)
      </button>

      <script id="keyboard-shortcuts-template" type="x-tmpl-nunjucks">
        {{ result }}
      </script>

    </div>
  </body>

</html>
