<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>websocket</title>

    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}"></script>
    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}/dist/ext/ws.js"></script>
    <script src="https://unpkg.com/nunjucks@{[{ .nunjucks_version }]}/browser/nunjucks.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <div class="container" hx-ext="client-side-templates">
      <a href="https://htmx.org/extensions/web-sockets/" class="link-primary">htmx websocket extension</a>
      <p></p>

      <div class=".d-none"
           hx-ext="ws"
           ws-connect="/time"
           nunjucks-template="ws-template">
      </div>

      <h3>Inner HTML update</h3>
      <div id="content-innner"></div>
      <h3>Before end append</h3>
      <div id="content-beforeend"></div>

      <script id="ws-template" type="x-tmpl-nunjucks">
        <div hx-swap-oob="innerHTML:#content-innner" class="btn">
        <div>{{time}}</div>
        </div>
        <div hx-swap-oob="beforeend:#content-beforeend" class="btn">
        <div>{{time}}</div>
        </div>
      </script>

    </div>
  </body>

</html>
