<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>value-select</title>

    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}"></script>
    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@{[{ .nunjucks_version }]}/browser/nunjucks.js"></script>

    <!-- htmx example use sweetalert2 to show modal box -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <div class="container" hx-ext="client-side-templates">
      <a href="https://htmx.org/examples/value-select/" class="link-primary">htmx cascading select example</a>
      <p>

      <h3>Pick A Make/Model</h3>              
      <form>
        <div>
          <label>Make</label>
          <select class="form-select"
                  hx-get="/makes"
                  hx-trigger="load"
                  hx-swap="outerHTML"
                  nunjucks-array-template="make-template">
          </select>
        </div>
        <div>
          <label>Model</label>
          <select class="form-select"
                  id="models"
                  name="model">
          </select>
          <img class="htmx-indicator" width="20" src="/img/bars.svg">
        </div>
      </form>

      <script id="make-template" type="x-tmpl-nunjucks">
          <select class="form-select"
                  name="make"
                  hx-get="/models"
                  hx-trigger="load,change"
                  hx-target="#models"
                  hx-indicator=".htmx-indicator"
                  nunjucks-array-template="model-template">
        {% for make in data %}
        <option value="{{ make }}">{{ make }}</option>
        {% endfor %}
          </select>
      </script>

      <script id="model-template" type="x-tmpl-nunjucks">
        {% for model in data %}
        <option value="{{ model }}">{{ model }}</option>
        {% endfor %}
      </script>
    </div>
  </body>

</html>
