<!DOCTYPE html>
<html lang='en' class=''>

  <head>

    <meta charset='UTF-8'>
    <title>debug</title>

    <script src="https://unpkg.com/htmx.org@{[{ .htmx_version }]}"></script>
    <script src="https://unpkg.com/htmx-ext-client-side-templates@{[{ .htmx_version }]}/client-side-templates.js"></script>
    <script src="https://unpkg.com/htmx-ext-debug@{[{ .htmx_version }]}/debug.js"></script>
    <script src="https://unpkg.com/nunjucks@{[{ .nunjucks_version }]}/browser/nunjucks.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@{[{ .bootstrap_version }]}/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body hx-ext="debug">
    <div class="container" hx-boost="true" hx-ext="client-side-templates">
      <a href="https://github.com/bigskysoftware/htmx-extensions/blob/main/src/debug/README.md" class="link-primary">htmx debug extension example</a>
      <p>
      <h3>Set console verbose level to see debug log produced by console.debug</h3>
      <button class="btn btn-primary"
              hx-target="#show"
              hx-get="/get_example"
              hx-trigger="click"
              nunjucks-template="show-template">
      Debug Get
      </button>

      <p>
      <div id="show"></div>

      <script id="show-template" type="x-tmpl-nunjucks">
        <div class="text-success">{{ message }}</div>
      </script>

    </div>
  </body>

</html>
